<!--
  Generated template for the DetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Detail {{produit.id}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <h2>{{produit.name}}</h2>
    <img src="{{produit.image}}" />
    <ion-item>
      <ion-label>Prix: {{produit.price}} </ion-label>
    </ion-item>
    <ion-item>
      <rating [(ngModel)]="produit.rating" 
        readOnly="false"
        max="5"
        emptyStarIconName="star-outline"
        halfStarIconName="star-half" 
        starIconName="star" 
        nullable="false"
        (ngModelChange)="onModelChange($event)">
      </rating>
    </ion-item>
    <ion-item>
      <ion-icon name="logo-twitter" item-satrt></ion-icon>
      Followrs
      <ion-badge item-end>{{produit.followers}}k</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>{{produit.description}}</ion-label>
    </ion-item>
  </ion-card>
</ion-content>
